*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.toppest{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.toppest .topheading{
    width: 100%;
    height: 40px;
    background-color: rgba(12, 61, 12, 0.861);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.toppest .topheading p{
    color: aliceblue;
    word-spacing: 8px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

.toppest .container{
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.header .banner{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgba(12, 61, 12, 0.861);
    display: flex;
    margin-right: 20px;
    margin-left: 15px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.header ul li a:hover{
    color: rgba(12, 61, 12, 0.861);
    font-size: 20px;
    border-bottom: 3px solid rgba(12, 61, 12, 0.861);
    border-top: 3px solid rgba(12, 61, 12, 0.861);
}

.toppest .container .header .search{
    width: 300px;
    border-radius: 30px;
    border: 3px solid rgba(12, 61, 12, 0.861);
    padding: 8px;
    margin-left: 100px;
}

.toppest .container .header .search input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 280px;
}

.header .icons{
    width: 150px;
    height: 20px;
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.header .icons p{
    color: rgba(12, 61, 12, 0.861);
    font-size: 18px;
}

.mainbody{
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.mainbody .containermain{
    width: 100%;
    height: auto;
}

.mainbody .containermain .inside{
    width: 60%;
    height: auto;
    background-color: rgba(171, 237, 171, 0.861);
    margin-left: 300px;
}

.mainbody .containermain .inside .header{
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.mainbody .containermain .inside .header h2{
    color: rgba(12, 61, 12, 0.861);
    font-size: 38px;
    
} 

.mainbody .containermain .inside .header img{
    width: 50px;
    height: 50px;
}

.mainbody .containermain .inside form{
    width: 600px;
    height: 360px;
    margin-left: 40px;
    margin-top: 60px;
}

.mainbody .containermain .inside form .new{
    width: 600px;
    height: 300px;
    display: flex;
    margin-top: 60px;
}

.mainbody .containermain .inside form .new .containerone{
    width: 600px;
    height: auto;
}

.mainbody .containermain .inside form .new h3{
    color: rgba(12, 61, 12, 0.861);
    font-size: 20px;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .new #one{
    width: 380px;
    height: 30px;
    color: black;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .new #two{
    width: 380px;
    height: 30px;
    color: black;
    margin-bottom: 0px;
}

.mainbody .containermain .inside form .new .containertwo{
    width: 600px;
    height: auto;
    margin-left: 25px;
}

.mainbody .containermain .inside form .new .containertwo #country{
    width: 400px;
    height: 33px;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .new .containertwo .shipping #ship{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 7px;
}

.mainbody .containermain .inside form .new .containertwo .shipping{
    display: flex;
}

.mainbody .containermain .inside form .new .containertwo input{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .new .containertwo .pin{
    display: flex;
}

.mainbody .containermain .inside form .new .containertwo .pin #two{
    width: 196px;
    height: 30px;
    margin-right: 4px;
}

.mainbody .containermain .inside form .new .containertwo #three{
    width: 400px;
    height: 33px;
    margin-right: 4px;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .button{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-left: 350px;
    margin-top: 10px;
}

.mainbody .containermain .inside form .button #button{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: rgba(12, 61, 12, 0.861);
    color: white;
    font-size: 20px;
    border: 2px solid rgba(12, 61, 12, 0.861);
}

.mainbody .containermain .inside form .containerone .button #button:hover{
    background-color: white;
    color: rgba(12, 61, 12, 0.861);
    border: 2px solid rgba(12, 61, 12, 0.861);
}

.mainbody .containermain .inside form .containerone #four{
    width: 380px;
    height: 33px;
    margin-bottom: 10px;
}

.mainbody .containermain .inside form .containerone #quantity{
    width: 380px;
    height: 30px;
    color: black;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    height: 350px;
    margin-top: 100px;
    background-color: rgba(12, 61, 12, 0.861);
}

footer .footer{
    width: 100%;
    height: 300px;
}

footer .footer .partmain{
    width: 98%;
    height: 250px;
    display: flex;
    align-items: center;
}

footer .footer .partmain .partone{
    width: 350px;
    height: 200px;
    margin-left: 70px;
    margin-right: 15px;
    margin-top: 50px;
}

footer .footer .partmain .partone h2{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.partone p{
    color: rgb(157, 157, 157);
    font-size: 16px;
    line-height: 28px;
}

footer .footer .partmain .parttwo{
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 15px;
}

.parttwo a{
    color: rgb(157, 157, 157);
    justify-content: center;
    font-size: 25px;
}

.parttwo a i{
    margin-right: 15px;
}

.parttwo a i:hover{
    color: white;
    font-size: 27px;
}

footer .footer .partmain .parttwo h2{
    color: white;
    font-size: 28px;
    margin-bottom: 15px;
}

footer .footer .partmain .partthree{
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

footer .footer .partmain .partthree h2{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

footer .footer .partmain .partthree p{
    color: rgb(157, 157, 157);
    font-size: 16px;
    line-height: 28px;
}

footer .footer .partmain .partfour{
    width: 350px;
    height: 200px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

footer .footer .partmain .partfour h2{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

footer .footer .partmain .partfour p{
    color: rgb(157, 157, 157);
    font-size: 16px;
    line-height: 28px;
}

footer .footer .down{
    width: 100%;
    height: 20px;
    margin-top: 20px;
    color: rgb(157, 157, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
}

footer .footer .down p{
    margin-right: 5px;
}
